.userText{
    font-size: 18px;
    font-weight: 500;   
    font-family: 'Courier New', Courier, monospace;
}

.del{
    background-color: indianred;
    font-size: 24px;
    margin: 6px;
}

.update {
    margin: 6px;
}